<article id="article">
  <div class="article-title normal-title">
    <div class="flex-col flex-grow text-left">
<!--      <p class="uppercase mb-0"> This is a Title! </p>-->
      <p class="uppercase mb-0"> <%= @article.title %> </p>
<!--      <div class="subtext">-->
<!--        Description Description Description Description <br> Description-->
<!--        Description Description Description Description Description-->
<!--      </div>-->
      <div class="subtext">
        <%= @article.description %>
      </div>
    </div>
  </div>


  <div class="article-content">

    <div class="col-xs-12">
      <ul class="path-structure">
        <li><%= link_to "Home", root_path, class:"custom-link" %></li>
        <li class="active">Discover</li>
        <li class="active">Self-Growth</li>
        <li><%= link_to "Learn more about yourself", yourself_path, class:"custom-link" %></li>
        <li class="active"><%= @article.title %></li>
      </ul>
    </div>

<!--    <div>-->
      <%#= image_tag "cat1.jpg", class: "article-img" %>
<!--    </div>-->

    <% if @article.cover_image.attached?%>
      <div>
        <%= image_tag @article.cover_image, class: "article-img" %>
      </div>
    <%end %>
<!--    <p class="article-text">-->
<!--      &nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--    </p>-->

    <p class="article-text">
      &nbsp;&nbsp;&nbsp; <%= @article.content.gsub('\n', '<br>').html_safe %>
    </p>

<!--      <blockquote>-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--      culpa qui officia deserunt mollit anim id est laborum.-->
<!--    </blockquote>-->

      <% if @article.quote? %>
        <blockquote>
          <%= @article.quote %>>
        </blockquote>
      <%end %>


    <section class="article-footer">
<!--      <p class="article-author">-->
<!--        Author: XYZ-->
<!--      </p>-->
<!--      <p class="article-date">-->
<!--        Date: XX_XX_XXXX-->
<!--      </p>-->

      <p class="article-author">
        Author: <%= @article.user.name %>
      </p>
      <p class="article-date">
        Date: <%= @article.publish_date %>
      </p>
    </section>


    <div class="keywords-title">
      <p class="mb-0"> Keywords </p>
    </div>
    <div class="grid-keywords">
      <%=link_to '#', class: "nav-link"  do %>
        <div class="grid-key-item">
          Keyword 1
        </div>
      <%end %>
      <%=link_to '#', class: "nav-link"  do %>
        <div class="grid-key-item">
          Keyword 2Keyword 2Keyword 2
        </div>
      <%end %>
      <%=link_to '#', class: "nav-link"  do %>
        <div class="grid-key-item">
          Keyword 3
        </div>
      <%end %>
      <%=link_to '#', class: "nav-link"  do %>
        <div class="grid-key-item">
          Keyword 4
        </div>
      <%end %>
      <%=link_to '#', class: "nav-link"  do %>
        <div class="grid-key-item">
          Keyword 5
        </div>
      <%end %>
    </div>


  </div>


</article>