<main id="main">
  <div class="page-title normal-title">
    <div class="page-title-inner flex-row container">
      <div class="flex-col flex-grow text-center">
        <h1 class="uppercase mb-0"> Learn more about yourself</h1>
        <div class="subtext">
          Find out more about self-growth through different topics and reads
        </div>
      </div>
    </div>
  </div>

  <section class="cards">
    <%=link_to article1_path, class: "card nav-link" do %>
      <div class="card__overlay">
        <span>Read More</span>
      </div>

      <div class="card__image" ></div>

      <div class="card__content">


        <div class="card__title">This is a Title!</div>
        <div class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          qborum.
        </div>

      </div>
      <div class="card__date">June 28th 2023</div>
      <div class="card__readtime">5 min read</div>
    <%end %>

    <%=link_to '#', class: "card nav-link" do %>
      <div class="card__overlay">
        <span>Read More</span>
      </div>

      <div class="card__image" ></div>

      <div class="card__content">
        <div class="card__title">This is a Title!</div>
        <div class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          qest laborum.
        </div>

      </div>
      <div class="card__date">June 28th 2023</div>
      <div class="card__readtime">5 min read</div>
    <%end %>

    <%=link_to '#', class: "card nav-link" do %>
      <div class="card__overlay">
        <span>Read More</span>
      </div>

      <div class="card__image" ></div>

      <div class="card__content">
        <div class="card__title">This is a Title!</div>
        <div class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

      </div>
      <div class="card__date">June 28th 2023</div>
      <div class="card__readtime">5 min read</div>
    <%end %>

    <%=link_to '#', class: "card nav-link" do %>
      <div class="card__overlay">
        <span>Read More</span>
      </div>

      <div class="card__image" ></div>

      <div class="card__content">
        <div class="card__title">This is a Title!</div>
        <div class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

      </div>
      <div class="card__date">June 28th 2023</div>
      <div class="card__readtime">5 min read</div>
    <%end %>

    <%=link_to '#', class: "card nav-link" do %>
      <div class="card__overlay">
        <span>Read More</span>
      </div>

      <div class="card__image" ></div>

      <div class="card__content">
        <div class="card__title">This is a Title!</div>
        <div class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

      </div>
      <div class="card__date">June 28th 2023</div>
      <div class="card__readtime">5 min read</div>
    <%end %>

    <%=link_to '#', class: "card nav-link" do %>
      <div class="card__overlay">
        <span>Read More</span>
      </div>

      <div class="card__image" ></div>

      <div class="card__content">
        <div class="card__title">This is a Title!</div>
        <div class="card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

      </div>
      <div class="card__date">June 28th 2023</div>
      <div class="card__readtime">5 min read</div>
    <%end %>


  </section>













<!--  <div class="grid-container-reads">-->
<!--    <div class="grid-item-reads">-->
      <%#=link_to '#', class: "nav-link"  do %>
<!--        My Progress-->
<!--        <div class="subtext">-->
<!--          Keep track of your progress here ->-->
<!--        </div>-->
      <%#end %>
<!--    </div>-->
<!--    <div class="grid-item-reads">-->
      <%#=link_to '#', class: "nav-link"  do %>
<!--        My Achievements-->
<!--        <div class="subtext">-->
<!--          View your obtained badges ->-->
<!--        </div>-->
      <%#end %>
<!--    </div>-->
<!--    <div class="grid-item-reads">-->
      <%#=link_to '#', class: "nav-link"  do %>
<!--        Settings-->
<!--        <div class="subtext">-->
<!--          Update your account's details ->-->
<!--        </div>-->
      <%#end %>
<!--    </div>-->
<!--    <div class="grid-item-reads">-->
      <%#=link_to '#', class: "nav-link"  do %>
<!--        Appointments ??-->
<!--        <div class="subtext">-->
<!--          View your upcoming appointments here ->-->
<!--        </div>-->
      <%#end %>
<!--    </div>-->
<!--    <div class="grid-item-reads">-->
      <%#=link_to '#', class: "nav-link"  do %>
<!--        Chat with --- !-->
<!--        <div class="subtext">-->
<!--          Just ask and they will answer! ->-->
<!--        </div>-->
      <%#end %>
<!--    </div>-->
<!--    <div class="grid-item-reads">-->
      <%#=link_to logout_path, method: :delete, class: "nav-link"  do %>
<!--        Log Out-->
<!--        <div class="subtext">-->
<!--          ----------------->
<!--        </div>-->
      <%#end %>
<!--    </div>-->
<!--  </div>-->

</main>