<% provide(:button_text, 'Submit my article') %>
<div>
  <%= form_with(model: @article, local: true, multipart: true) do |f| %>
    <%#= render "shared/error_messages", object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.label :cover_image %>
    <%= f.file_field :cover_image %>

    <%= f.label :readtime %>
    <%= f.text_field :readtime, class: 'form-control' %>

    <%= f.label :content %>
    <%= f.text_area :content, size: "70x5", class: 'form-control' %>

    <%= f.label :quote %>
    <%= f.text_field :quote, class: 'form-control' %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>


