<article id="article">
  <div class="article-title normal-title">
    <div class="flex-col flex-grow text-left" style="color: aliceblue">
      <% if logged_in? %>
        <% if current_user.doctor? and current_user.id == @article.user_id %>
          <span style="float: right">
            <%=link_to "Edit", edit_article_path, class: "custom-link", style: "color: white"  %>
          </span>
        <%end %>
      <% end %>

      <h1 class="uppercase mb-0 text-left"> <%= @article.title %> </h1>
      <div class="subtext" style="max-width: 1000px">
        <%= @article.description %>
      </div>
    </div>
  </div>


  <div class="article-content">

    <div class="col-xs-12">
      <ul class="path-structure">
        <li><%= link_to "Home", root_path, class:"custom-link" %></li>
        <li><%= link_to "Discover", discover_path, class:"custom-link" %></li>
        <% unless @path_active.empty? %>
          <li class="active"><%= @path_active %></li>
        <%  end %>
        <li><%= link_to @path_title, "#{@path}", class:"custom-link" %></li>
        <li class="active"><%= @article.title %></li>
      </ul>
    </div>

    <% if @article.cover_image.attached?%>
      <div>
        <%= image_tag @article.cover_image, class: "article-img" %>
      </div>
    <%end %>

    <div class="article-text">
       <% new_lines = @article.content.gsub("\n", '<br>').html_safe %>
       <% new_bold = new_lines.gsub(/b-(.*?)-b/) { "<strong>#{$1}</strong>" }.html_safe %>
       <% new_list_items = new_bold.gsub(/li-(.+?)-li/) { "<li>#{$1}</li>" }.html_safe %>
       <% new_list = new_list_items.gsub(/l-(.*?)-l/) { "<ul>#{$1}</ul>" }.html_safe %>
       &nbsp;&nbsp;&nbsp; <%= new_list %>
    </div>

      <% if @article.quote? %>
        <blockquote>
          <%= @article.quote %>>
        </blockquote>
      <%end %>


    <section class="article-footer">
      <p class="article-author">
        Author: <%= @article.user.name %>
      </p>
      <p class="article-date">
        Date: <%= @article.publish_date %>
      </p>
    </section>


    <div class="keywords-title">
      <p class="mb-0"> Tags </p>
    </div>
    <div class="grid-keywords">
      <% i = 0 %>
      <% until i == @article.keywords.count do %>
        <%=link_to static_keyword_path(@article.keywords[i]), class: "nav-link"  do %>
          <div class="grid-key-item">
            <%= @article.keywords[i] %> &nbsp;&nbsp;&nbsp;
            <% i = i + 1 %>
          </div>
        <%end %>
      <% end %>
    </div>


  </div>


</article>