<!--<div>-->
<main id="main">
<!--  <div class="my-account-header page-title normal-title">-->
    <div class="page-title-inner flex-row container font-serif ">
      <div class="flex-col flex-grow text-center">
        <h1 class="uppercase mb-0">My Appointments</h1>
      </div>
    </div>
<!--  </div>-->

  <% unless current_user.doctor? %>
    <div style="display: block">
      <div class=" book-app-button">
        <span>
            <%= link_to "Book an Appointment here!", book_appointment_path ,class: "nav-link"%>
        </span>
      </div>
    </div>
  <%  end %>

  <div class="main-content-flex mt-4">
    <div>
      <h3 class="center">UPCOMING</h3>
          <div class="grid-container-app">
            <% if !current_user.doctor? %>

              <% @appointments.each do |appointment| %>
                <% if appointment.appointment_date > Time.current %>
                  <div class="grid-item">
                    <div class="subtext">
                      <%= appointment.patient %><br>
                      <%= appointment.appointment_date.strftime('%A, %B %d, %Y') %><br>
                      <%= appointment.doctor_name %>
                    </div>
                  </div>
                <% end %>
              <% end %>

            <%elsif current_user.doctor? %>

                <% @doctor_appointments.each do |appointment| %>
                  <% if appointment.appointment_date > Time.current %>
                    <div class="grid-item">
                      <div class="subtext">
                        <%= appointment.patient %><br>
                        <%= appointment.appointment_date.strftime('%A, %B %d, %Y') %><br>
                      </div>
                    </div>
                  <% end %>
                <% end %>

              <%end %>
          </div>
    </div>
            <div>
              <h3 class="center"> OLD APPOINTMENTS</h3>
              <div class="grid-container-app">

                <% if !current_user.doctor? %>

                  <% @appointments.each do |appointment| %>
                    <% if appointment.appointment_date < Time.current %>
                      <div class="grid-item">
                        <div class="subtext">
                          <%= appointment.patient %><br>
                          <%= appointment.appointment_date.strftime('%A, %B %d, %Y') %><br>
                          <%= appointment.doctor_name %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                <%elsif current_user.doctor? %>

                  <% @doctor_appointments.each do |appointment| %>
                    <% if appointment.appointment_date < Time.current %>
                      <div class="grid-item">
                        <div class="subtext">
                          <%= appointment.patient %><br>
                          <%= appointment.appointment_date.strftime('%A, %B %d, %Y') %><br>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                <%end %>
              </div>
        </div>

  </div>

</main>
