<main id="main" class>
  <div class="my-account-header page-title normal-title">
    <div class="page-title-inner flex-row container">
      <div class="flex-col flex-grow text-center">
        <h1 class="uppercase mb-0">Hi, <%= @user.name %> !</h1>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <%=link_to '#', class: "nav-link"  do %>
        My Progress
        <div class="subtext">
          Keep track of your progress here ->
        </div>
      <%end %>
    </div>
    <div class="grid-item">
      <%=link_to '#', class: "nav-link"  do %>
        My Achievements
        <div class="subtext">
          View your obtained badges ->
        </div>
      <%end %>
    </div>
    <div class="grid-item">
      <%=link_to edit_user_path, class: "nav-link"  do %>
        Settings
        <div class="subtext">
          Update your account's details ->
        </div>
      <%end %>
    </div>
    <div class="grid-item">
      <%=link_to '#', class: "nav-link"  do %>
        Appointments ??
        <div class="subtext">
          View your upcoming appointments here ->
        </div>
      <%end %>
    </div>
    <div class="grid-item">
      <%=link_to '#', class: "nav-link"  do %>
        Chat with --- !
        <div class="subtext">
          Just ask and they will answer! ->
        </div>
      <%end %>
    </div>
    <div class="grid-item">
      <%=link_to logout_path, method: :delete, class: "nav-link"  do %>
        Log Out
        <div class="subtext">
          ----------------->
        </div>
      <%end %>
    </div>
  </div>

</main>